@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

aside {
  width: 6%;
}
main {
  @apply border-r border-l border-borderSideColor flex font-league pb-24 overflow-hidden;
  width: 88%;
}
.middle_line {
  @apply fixed w-px bg-borderSideColor h-full left-1/2;
  z-index: -1;
}

/* Button style */
.btn {
  @apply flex cursor-pointer px-5 items-center justify-center text-zinc-700 text-base relative font-semibold h-12;
}
.btn.btn_menu {
  @apply text-sm px-3 absolute right-2 top-0;
}
.btn.btn_menu.open {
  @apply text-white right-6 top-0;
  z-index: 1000;
}
.btn:hover {
  @apply text-white;
}
.btn::before {
  @apply border-primary-yellow border absolute left-0 inline-block transition-all w-12 h-12 rounded-full;
  content: '';
  z-index: -1;
} 
.btn.btn_menu:before {
  @apply w-7 h-7 rounded-full;
}
.btn:hover::before, .btn.btn_menu.open::before {
  @apply w-full bg-primary-yellow
}
.btn:active::before {
  @apply bg-secondary-yellow;
}

/* Nav style */

.nav_menu.open {
  @apply p-2 h-screen w-screen fixed left-0 top-0 z-50;
}

@keyframes width {
  from { width: 0; }
  to {width: 100%;}
}
.menu_block {
  @apply bg-primary-green absolute w-0 left-0;
  height: 21vh;
  z-index: -1;
  animation-name: width;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

.menu_block:nth-child(2) {
  top:0;
}
.menu_block:nth-child(3) {
  top: 20%;
  animation-delay: 0.3s;
}
.menu_block:nth-child(4) {
  top: 40%;
  animation-delay: 0.6s;
}
.menu_block:nth-child(5) {
  top: 60%;
  animation-delay: 0.9s;
}
.menu_block:nth-child(6) {
  top: 80%;
  animation-delay: 1.2s;
}

.menu_items {
  @apply flex flex-col pl-20 py-5;
  height: 270px;
  overflow-y: scroll;
  direction: rtl;
}

@keyframes opacity {
  from { opacity: 0 }
  to { opacity: 1; }
}
.wrapper {
  opacity: 0;
  animation-name: opacity;
  animation-delay: 3.7s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.gradient_top, .gradient_bottom {
  @apply w-full relative h-0;
}

.gradient_top::before {
  @apply absolute left-0 top-0 w-full h-12;
  content: '';
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(42,82,76,1) 64%);
}

.gradient_bottom::before {
  @apply absolute left-0  w-full h-12;
  content: '';
  top:-50px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(42,82,76,1) 64%);
}

.list_item {
  @apply text-5xl text-white font-league font-bold py-2 text-left;
  transition: all 0.2s linear;
}
.list_item a {
  transition: all 0.2s linear;
}
.list_item:hover a {
  -webkit-text-stroke: 0.5px white;
  color: transparent;
}

/* ScrollBar style */
.menu_items::-webkit-scrollbar {
  width: 2px;
}

.menu_items::-webkit-scrollbar-track {
  background: #FCFCFC; 
}

.menu_items::-webkit-scrollbar-thumb {
  @apply bg-primary-yellow;
}

.menu_items::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-yellow; 
}

.menu_items::-webkit-scrollbar-track {
  @apply my-12;
}

/* Delivery card */

.delivery_list {
  padding-left: 20px;
  height: 110px;
  list-style-image: url('/images/listImg.svg');
}

/* Promise section */
.promise {
  background: radial-gradient(circle, rgba(251,251,251,1) 1%, rgba(255,255,255,0) 100%);;
}

.promise_item {
  @apply flex justify-end w-full md:w-44 xl:w-40 ;
}
.promise_item.right {
  @apply justify-start;
}

.promise_item p {
  @apply text-white bg-primary-green p-3 text-sm rounded-xl text-center w-fit;
  max-width: 150px;
  text-align: center;
}

.promise_line {
  @apply w-px md:w-full h-96 md:h-px flex-col md:flex-row md:my-5  flex justify-around items-center;
  background: linear-gradient(180deg, rgba(72, 72, 72, 0) 0.03%, #484848 48.45%, rgba(72, 72, 72, 0) 100%);
}

@media (min-width: 768px) {
  .promise_line {
    background: linear-gradient(90deg, rgba(72, 72, 72, 0) 0.03%, #484848 48.45%, rgba(72, 72, 72, 0) 100%);
  }
}

.circle_wrapper {
  @apply w-4 h-4 rounded-full bg-primary-yellow/30 flex justify-center items-center;
}

.circle {
  @apply w-2 h-2 rounded-full bg-primary-yellow;
}
/* Animated banner */

.logo-slider {
  padding: 20px;
  overflow: hidden;
  
  width: 100%;
  margin: 0 auto;	
	position: relative;
	display: flex;
}
.logo-slider:hover div {
  animation-play-state: paused;
}
	
.logo-slider div { 
  display: flex;
  position: relative;
  animation: marquee 60s linear infinite;
  justify-content: space-around;
}

.logo-slider.backwards div{
  animation: marqueeBack 60s linear infinite;
}
		
.top, .bottom {
  width: 1300px;
  @apply text-7xl font-bold text-primary-green;
}
  
.bottom {
  @apply text-transparent;
  -webkit-text-stroke: 1px #2A524C;
}

.logo-slider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}

@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}

@keyframes marqueeBack {
	0%   { transform: translateX(-100%); }
	100% { transform: translateX(0%); }
}